
.log{
    background: linear-gradient(135deg,#D20B54,#FFB894);
    height: 40em;
}
.login{
        
        height: 100%;
}
.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height:100% ;
}
.inputs{
    border: none;
    border-bottom-style: inset;
    background: transparent;
    font-size: larger;
    font-weight: 500;
    width: 90%;
}
.inputs::placeholder { color: white; font-size: 15px; }
.imag{
   display: flex;
   justify-content: flex-end;
}
.color{
    background-color: #722282;
}
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }
.total{
    display: flex;
    justify-content: space-between;
}
.imagenes{
    width: 100px;
    height: 100px;
}
.contenedor {
    display: flex;
    justify-content: space-evenly;
}
.buton{
    background: transparent;
}