/* Dashboard */

.dash{
    height: 100vh;
    display: flex;   
  }
  .shell {
    height: 20px;
    width: 250px;
    border: 1px solid #8120da;
    border-radius: 13px;
    padding: 3px;
  }
  .bar {
    background: linear-gradient(45deg, #9b15ef2b, #8120dad9);
    height: 20px;
    width: 15px;
    border-radius: 9px;
  }
  
.compart{
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 4px 8px;
    cursor: pointer;
    background: #722282; 
    color: antiquewhite;
  }

.flex {
    display: flex;
    flex-direction: column;
    padding: 10%;
}