/* Dashboard */
html{
  height: 100%;
}
body{
  height: 100%;
}
.dash{
    height: 100vh;
    display: flex;   
  }
  .shell {
    height: 20px;
    width: 330px;
    border: 1px solid #8120da;
    border-radius: 13px;
    padding: 3px;
  }
  .bar {
    background: linear-gradient(45deg, #9b15ef2b, #8120dad9);
    height: 13px;
    width: 15px;
    border-radius: 9px;
  }
  
.compart{
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
    background: #722282; 
    color:white;
  }

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: Museo Sans;
}
.catalogo{
  height: 100px;
}
.cat{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.redSocial{
  padding: 0px 70px;
}
.vistaproduct{
  font-size: 10px;
    padding: 4px;
}
.divprod{
  display: flex;
}
p{
  margin-bottom: 0px;
}
.cat17{
  width: 40%;
}
.redes{
  width: 50px;
  padding: 3%;
}
h5{
  padding: 7px;
}    

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.input3{
  border: none;
}